[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "home/.vim/bundle/vim-cpp-enhanced-highlight"]
	path = home/.vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "home/.vim/bundle/vim-lsp"]
	path = home/.vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "home/.vim/bundle/asyncomplete.vim"]
	path = home/.vim/bundle/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "home/.vim/bundle/asyncomplete-lsp.vim"]
	path = home/.vim/bundle/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "home/.vim/bundle/vim-lsp-settings"]
	path = home/.vim/bundle/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.config/alacritty/themes"]
	path = home/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/csv"]
	path = home/.vim/bundle/csv
	url = https://github.com/chrisbra/csv.vim
[submodule "home/.vim/bundle/vim-obsession"]
	path = home/.vim/bundle/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "home/.vim/bundle/vim-signify"]
	path = home/.vim/bundle/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule "home/.vim/bundle/AnsiEsc"]
	path = home/.vim/bundle/AnsiEsc
	url = git@github.com:powerman/vim-plugin-AnsiEsc.git
[submodule "home/.vim/bundle/vim-clang-format"]
	path = home/.vim/bundle/vim-clang-format
	url = git@github.com:rhysd/vim-clang-format.git
[submodule "home/.vim/bundle/vim-commentary"]
	path = home/.vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "home/.vim/bundle/vim-tmux-navigator.git"]
	path = home/.vim/bundle/vim-tmux-navigator.git
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "home/.vim/bundle/gruvbox"]
	path = home/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
