# This is Git's per-user configuration file.
[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
    edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vim `f`"
    add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"
    ll = log --all --branches --remotes --tags --graph --oneline --decorate --notes HEAD
[push]
    default = simple
[merge]
	conflictstyle = diff3
	tool = vimdiff
[rerere]
    enabled = true
[pull]
    rebase = true
    autostash = true
[mergetool]
	prompt = false
	keepBackup = false
[user]
	name = Abhishek Bagchi
	email = abhishekbagchi@icloud.com
[core]
	excludesfile = ~/.gitignore
[include]
    path = ~/.gitconfig.extra
[rebase]
    autostash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
